{% extends "base.html" %}

{% block header %}
  <h1 class="display-4">{{heading}}</h1>
  <p class="lead">{{subheading}}</p>
{% endblock header %}

{% block content1 %}
  <div class="row"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis vero mollitia dolore, odio fuga quia maxime, laborum optio amet animi enim non dolor earum. Rerum hic culpa libero ea placeat. Neque quod accusamus error repellendus cumque at ratione tempora possimus dolores porro vitae recusandae quidem earum itaque sunt, ad provident hic molestiae fugiat magni. Cum commodi, temporibus doloribus saepe esse quae fugiat sint obcaecati vero ex aperiam ipsam laboriosam adipisci molestiae nam nisi praesentium recusandae quibusdam veritatis quo voluptate animi minus accusantium facilis. Ullam reprehenderit sint atque. Ab deserunt expedita quisquam, maiores modi fuga nostrum aperiam maxime laborum illo!
  </div>
{% endblock content1 %}

{% block content2 %}
  <div class="row">
  </div>
{% endblock content2 %}